<div ng-controller="HomeController">
  <div md-padding>
     <h1 class="ir-bold">Welcome to the IRACE package configuration</h1>
     <md-content flex layout-padding>
        <p>The IRACE package is an automatic algorithm configurator developed at
          IRIDIA (Institut de Recherches Interdisciplinaires et de Developpements en Intelligence Artificielle).
          <br>
          Its main task is the automatic configuration of optimization and decision algorithms.
        </p>
        <div>
          <p>This program will let you: </p>
          <ol>
            <li>Set up the IRACE scenario</li>
            <li>Visualize the process execution of IRACE running</li>
            <li>Visualize the IRACE final results</li>
          </ol>
      </div>
     </md-content>
  </div>
  <br>
  <div>
    <md-content flex layout-padding>
      <div md-padding>
        <p>Initial configuration: </p>
        <ol>
          <li>Set workspace path:
            <input ng-model="userPathWorkspace" placeholder="Path">
            <md-button class="md-primary" ng-click="pathForWorkspace()">workspace</md-button>
          </li>
          <li>Set IRACE installation path:
            <input ng-model="userPathIRACE" placeholder="Path">
            <md-button class="md-primary" ng-click="pathForIrace()">IRACE path</md-button>
          </li>
        </ol>
      </div>
      <div class="md-padding" ng-cloak>
        <p>To create or load scenario, press Start.</p>
        <a href = "#setup">
          <md-button class="md-primary md-raised" ng-click="validate()">Start</md-button>
        </a>
        <!-- <div layout="row" layout-wrap layout-margin layout-align="center"></div> -->
      </div>
    </md-content>
  </div>
</div>
