<md-dialog aria-label="Summary" ng-controller="SetupController">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Summary IRACE setup</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="answer('cancel')">
          <i class="material-icons">cancel</i>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <!-- {{full_iraceparams}} -->
        <div ng-repeat="a in full_iraceparams">
          <p> {{a.name}} : {{a.default}}</p>
        </div>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button href="#run" ng-click="go()"> RUN </md-button>
      <!-- <span flex></span> -->
      <md-button ng-click="answer('cancel')">Cancel</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
