body {
  /*background: rgb(255, 255, 255) !important;*/
  /*color:#eee;*/
  font-family: 'Myriad Set Pro', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
}
.ir-fullwidth {
  width: 100%;
}

.ir-bold {
  font-weight: bold;
}

.ir-bold-scrollx {
  font-weight: bold;
  overflow-x: auto;
  white-space: nowrap;
}

.ir-spacer-10 {
  height: 10px;
}
.ir-spacer-20 {
  height: 20px;
}

.md-input-has-placeholder {
  padding-bottom: 5px !important;
}

.md-select {
  /*margin-bottom: 0px !important;
  margin-top: 2px !important;
  margin-right: 2px !important;*/
}

.ir-input-border {
  border:1px solid rgb(84, 93, 100) !important;
}

.ir-table-runninglive {
  border:1px solid;
  height: 250px;
  overflow-y: scroll;
}

.ir-table-shortsummary {
  border:1px solid;
  height: 100px;
  overflow-y: scroll;
}

.ir-table-scenario {
  height: 310px;
  overflow-y: scroll;
}

.ir-table-short {
  height: 280px;
  overflow-y: scroll;
}

input.ir-scenario-name {
  color: #000;
  border: none;
  background: #eee;
}
::-webkit-input-placeholder {
  color: #ddd;
}

.ir-btn-delete {
  color:#000;
}
.ir-btn-delete:hover {
  color:rgb(230, 100, 100);
  cursor: pointer;
}

.ir-btn-refresh {
  color:#000;
}
.ir-btn-refresh:hover {
  color:rgb(230, 100, 100);
  cursor: pointer;
}

.dialogValidateMessage #popupContainer {
  position: relative;
}

/* d3 */
.axis path {
	fill: none;
	stroke: #222;
	shape-rendering: crispEdges;
}
.axis text {
	font-size: 13px;
	font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: 300;
}

.grid .tick {
	stroke: lightgrey;
	stroke-opacity: 0.7;
	shape-rendering: crispEdges;
}
.grid path {
	stroke-width: 0;
}

.node {
	cursor: pointer;
}

.node circle {
	fill: #fff;
	stroke: steelblue;
	stroke-width: 1px;
}

.node text {
	font-size: 12px;
	font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: 300;
}

.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 1px;
}

.irs.terminal-output {
	white-space: pre;
	font-family: monospace;
}

.box {
	font: 10px sans-serif;
}

.box line,
.box rect,
.box circle {
	fill: #fff;
	stroke: rgb(154, 179, 205);
	stroke-width: 1.5px;
}

.box .center {
	stroke-dasharray: 1,1;
}

.box .outlier {
	fill: none;
	stroke: #ccc;
}


svg {
	font: 10px sans-serif;
}

.background path {
	fill: none;
	stroke: #ddd;
	shape-rendering: crispEdges;
}

.foreground path {
	fill: none;
	stroke: rgb(82, 154, 190);
}

.brush .extent {
	fill-opacity: .3;
	stroke: #fff;
	shape-rendering: crispEdges;
}

.axis line,
.axis path {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.axis text {
	text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
	cursor: move;
}
