<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>UI for IRACE</title>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-route.min.js"></script>

  <!-- parallel coordinates -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-nvd3/1.0.9/angular-nvd3.min.js"></script> -->
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="d3.parcoords.js"></script>


  <!-- angular-route -->
  <script type="text/javascript" src="../../node_modules/angular-route/angular-route.js"></script>

  <link rel="stylesheet" href="../../assets/css/style.css" />
  <!-- material icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body ng-app="app" ng-controller="RunController">
  <md-toolbar style="background: #CCF">
      <div class="md-toolbar-tools">
         <h2 class="md-flex">2 Running IRACE online</h2>
      </div>
  </md-toolbar>
  <div class="md-padding">
    <p>Scenario Name: {{scenario.name}}</p>
    <md-button class="md-primary" ng-click="readData()"> Refresh</md-button>
  </div>
  <div class="md-padding" layout="row">
    <div flex="50">
      <div>
        Current iteration: <font color="red">{{iteration_data.iteration}}</font><br>
        Current budget: <font color="red">{{iteration_data.budget}}</font><br>
        Total candidates: <font color="red">{{iteration_data.totCandidates}}</font><br>
      </div>
    </div>
    <div flex="50">
      Alive conditions: <strong>{{task_data.aliveCandidates}}</strong><br>
      Number of instances: <strong>{{task_data.numberInstances}}</strong><br>
      Number of evaluation: <strong>{{task_data.numberEvaluations}}</strong><br>
    </div>
  </div>
  <div class="ir-spacer-10"></div>
  <div layout="row" layout-wrap class="md-padding">
    <div class="ir-bold" flex="20">Instance</div>
    <div class="ir-bold" flex="20">Candidates</div>
    <div class="ir-bold" flex="20">Mean</div>
    <div class="ir-bold" flex="20">Time</div>
    <div class="ir-bold" flex="20">w</div>
  </div>
  <!-- reading the values from the output -->
  <div class="ir-table-runninglive">
    <div class="md-padding" layout="row" layout-wrap ng-repeat="value in task_detail | filter:filter.value">
      <div flex="20">
        <label>{{value.numberInstance}}</label>
      </div>
      <div flex="20">
        <label>{{value.numberCandidate}}</label>
      </div>
      <div flex="20">
        <label>{{value.mean}}</label>
      </div>
      <div flex="20">
        <label>{{value.time}}</label>
      </div>
      <div flex="20">
        <label>{{value.w}}</label>
      </div>
    </div>
  </div>
  <div class="ir-spacer-10"></div>
  <div>
    <label class="ir-bold">Candidate details</label> total {{task_data.aliveCandidates}}

  </div>
  <br>
  <div id="example" class="parcoords" style="width:360px;height:150px"></div>

  <!-- Modules -->
  <script src="../app.js"></script>
  <script src="RunController.js" type="text/javascript"></script>
</body>
