<div ng-controller="RunController">
  <h2 class="ir-bold">2. Running IRACE online</h2>
  <div class="md-padding" layout="row">
    <!-- <md-button class="md-primary" ng-click="readData()"> Refresh</md-button> -->
    <i class="material-icons ir-btn-refresh" ng-click="readData()">refresh</i>
    <p>Scenario Name: {{scenarioname}}</p>
  </div>
  <!-- intro summary -->
  <div class="md-padding" layout="row">
    <div flex="50">
      <div>
        Current iteration: <font color="red">{{iteration_data.iteration}}</font><br>
        Current budget: <font color="red">{{iteration_data.budget}}</font><br>
        Total candidates: <font color="red">{{iteration_data.totCandidates}}</font><br>
      </div>
    </div>
    <div flex="50">
      Alive conditions: <strong>{{task_data.aliveCandidates}}</strong><br>
      Number of instances: <strong>{{task_data.numberInstances}}</strong><br>
      Number of evaluation: <strong>{{task_data.numberEvaluations}}</strong><br>
    </div>
  </div>
  <!-- intro summary -->
  <div class="ir-spacer-10"></div>
  <div layout="row" layout-wrap class="md-padding">
    <div class="ir-bold" flex="20">Instance</div>
    <div class="ir-bold" flex="20">Candidates</div>
    <div class="ir-bold" flex="20">Mean</div>
    <div class="ir-bold" flex="20">Time</div>
    <div class="ir-bold" flex="20">w</div>
  </div>
  <!-- reading the values from the output -->
  <div class="ir-table-runninglive">
    <div class="md-padding" layout="row" layout-wrap ng-repeat="value in task_detail | filter:filter.value">
      <div flex="20">
        <label>{{value.numberInstance}}</label>
      </div>
      <div flex="20">
        <label>{{value.numberCandidate}}</label>
      </div>
      <div flex="20">
        <label>{{value.mean}}</label>
      </div>
      <div flex="20">
        <label>{{value.time}}</label>
      </div>
      <div flex="20">
        <label>{{value.w}}</label>
      </div>
    </div>
  </div>
  <div class="ir-spacer-10"></div>
  <!-- candidates summary -->
  <br>
  <div> <h2>CANDIDATES</h2>
    <label class="ir-bold">Candidate details</label> Total {{task_data.aliveCandidates}}
    <div style="min-width: 100%; overflow-x: auto;"> parallel coordinates
      <d3-parallel-coordinates-plot data="d3ParallelCoordinatesPlotData" label="name"></d3-parallel-coordinates-plot>
    </div>
    <br>
    <label class="ir-bold">Candidate diversity</label>
    <div style="min-width: 100%; overflow-x: auto;">box plots
      <d3-box-plot data="d3BoxPlotData" label="name"></d3-box-plot>
    </div>
    <br>
    <label class="ir-bold">Candidates values</label>
    <div class="ir-table-runninglive"> bars for each param.name
    </div>
    <br>
  </div>
  <!-- instances summary -->
  <br>
  <div> <h2>INSTANCES</h2>
    <label class="ir-bold">Used instances</label>
    <div class="ir-table-shortsummary">
      <table style="width:100%">
        <tr>
          <th></th>
          <th>best</th>
        </tr>
        <tr>
          <td>1 path</td>
          <td>3450</td>
        </tr>
        <tr>
          <td>2 path</td>
          <td>370</td>
        </tr>
      </table>
    </div>
    <br>
    <label class="ir-bold">Kendal w</label>
    <div class="ir-table-shortsummary">www</div>

  </div>
</div>
