<div ng-controller="RunController">
  <div layout="row" layout-wrap style="align-items:center">
    <h2 class="ir-bold">2. Running IRACE online</h2>
    <i class="material-icons ir-btn-refresh" ng-click="readData()">refresh</i>
  </div>
  <p ><span class="ir-bold">Scenario Name: </span>{{scenario.name}}</p>
  <div class="md-padding" layout="row">
    <!-- <md-button class="md-primary" ng-click="readData()"> Refresh</md-button> -->
  </div>
  <!-- intro summary -->
  <div class="md-padding" layout="row">
    <div flex="50">
      Current iteration: <font color="red">{{iteration_data.iteration}}</font><br>
      Current budget: <font color="red">{{iteration_data.budget}}</font><br>
      Total candidates: <font color="red">{{iteration_data.totCandidates}}</font><br>
    </div>
    <div flex="50">
      Alive conditions: <strong>{{task_data.aliveCandidates}}</strong><br>
      Number of instances: <strong>{{task_data.numberInstances}}</strong><br>
      Number of evaluation: <strong>{{task_data.numberEvaluations}}</strong><br>
    </div>
  </div>
  <!-- intro summary -->
  <div class="ir-spacer-10"></div>
  <div layout="row" layout-wrap class="md-padding">
    <div class="ir-bold" flex="20">Instance</div>
    <div class="ir-bold" flex="20">Candidates</div>
    <div class="ir-bold" flex="20">Mean</div>
    <div class="ir-bold" flex="20">Time</div>
    <div class="ir-bold" flex="20">w</div>
  </div>
  <div class="ir-table-runninglive"> <!-- reading the values from the output -->
    <div class="md-padding" layout="row" layout-wrap ng-repeat="value in task_detail | filter:filter.value">
      <div flex="20">
        <label>{{value.numberInstance}}</label>
      </div>
      <div flex="20">
        <label>{{value.numberCandidate}}</label>
      </div>
      <div flex="20">
        <label>{{value.mean}}</label>
      </div>
      <div flex="20">
        <label>{{value.time}}</label>
      </div>
      <div flex="20">
        <label>{{value.w}}</label>
      </div>
    </div>
  </div>
  <div class="ir-spacer-10"></div>
  <!-- candidates summary -->
  <br>
  <div>
    <h2>CANDIDATES</h2>
    <label class="ir-bold">Alive candidates</label>
    <label> - total: {{task_data.aliveCandidates}}</label>
    <div style="min-width: 100%; overflow-x: auto;">
      <d3-parallel-coordinates-plot data="d3ParallelCoordinatesPlotData" label="name"></d3-parallel-coordinates-plot>
    </div>
    <br>
    <label class="ir-bold">Candidate perfomance</label>
    <div style="overflow-x: scroll; overflow-y: scroll;">
      <d3-box-plot data="d3BoxPlotData" label="name"></d3-box-plot>
    </div>
    <br>
    <label class="ir-bold">Parameter value frequency</label>
    <table>
      <tr ng-repeat="d3BarPlotData in d3BarPlotDataV | filter:getFiltered">
        <td>
          <d3-bar-plot data="d3BarPlotData" label="name"></d3-bar-plot>
        </td>
        <td>
          <d3-bar-plot data="d3BarPlotDataV[d3BarPlotData._index+1]" label="name"></d3-bar-plot>
        </td>
        <td>
          <d3-bar-plot data="d3BarPlotDataV[d3BarPlotData._index+2]" label="name"></d3-bar-plot>
        </td>
      </tr>
    </table>
    <br>
    <table>
      <tr ng-repeat="d3DensityPlotData in d3DensityPlotDataV | filter:getFiltered">
        <td>
          <d3-density-plot data="d3DensityPlotData" label="name"></d3-density-plot>
        </td>
        <td>
          <d3-density-plot data="d3DensityPlotDataV[d3DensityPlotData._index+1]" label="name"></d3-density-plot>
        </td>
        <td>
          <d3-density-plot data="d3DensityPlotDataV[d3DensityPlotData._index+2]" label="name"></d3-density-plot>
        </td>
      </tr>
    </table>
    <br>
  </div>
  <!-- instances summary -->
  <br>
  <div>
    <h2>INSTANCES</h2>
    <div style="min-width: 100%; overflow-x: auto;">
      <div>
        <label class="ir-bold">Instances tested</label>
        <table style="width:100%">
          <tr>
            <th></th>
            <th>best</th>
          </tr>
          <tr ng-repeat="value in task_best | filter:filter.value">
            <td>{{value.name}}</td>
            <td>{{value.value}}</td>
          </tr>
        </table>
      </div>
      <br>
      <div>
        <label class="ir-bold">Kendal w</label>
        <div id="kendal" style="min-width: 100%; overflow-x: auto;">
          <linear-chart data="kendallValues"></linear-chart>
        </div>
      </div>
    </div>
  </div>
</div>
